.hero {
  background: $white-bg;
  padding: 2rem 0;
  &__inner {
    position: relative;
    min-height: calc(100vh - 105px - 4rem);
    display: flex;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50%;

      &-image {
        position: absolute;
        left: 50%;
        top: 0;
        width: 50%;
        height: 100%;

        img {
          @include fullImage;
          object-position: top;
        }
      }
      &-info {
        position: relative;
        z-index: 0;
        padding: 0.8rem 1.6rem 0.8rem 0;
        p {
          color: $white;
          line-height: 1.2;
        }
        &:after {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          width: 52vw;
          height: 100%;
          background: $primary;
          z-index: -1;
        }
      }
    }
  }
}
